{% extends "interface/layout.html" %}
{% load static %}

{% block head %}
<title>Kaddô</title>
{% endblock %}

{% block body %}
<div id="sidebar">
    <div id="aisle-title-container">
        <h4 id="aisles-title">Corredores</h4>
        <hr>
    </div>
    <div id="aisles-names-container">
        <a id="aisle-name-temperos-e-condimentos" class="aisle-name selected" href="#aisle-flag-temperos-e-condimentos">Temperos e Condimentos</a>
        <a id="aisle-name-oleos-e-vinagres" class="aisle-name" href="#aisle-flag-oleos-e-vinagres">Óleos e Vinagres</a>
        <a id="aisle-name-conservas-e-semiprontos" class="aisle-name" href="#aisle-flag-conservas-e-semiprontos">Conservas e Semiprontos</a>
        <a id="aisle-name-cafe-e-cha" class="aisle-name" href="#aisle-flag-cafe-e-cha">Café e Chá</a>
        <a id="aisle-name-masssas" class="aisle-name" href="#aisle-flag-massas">Massas</a>
        <a id="aisle-name-graos-e-cereais" class="aisle-name" href="#aisle-flag-graos-e-cereais">Grãos e Cereais</a>
        <a class="aisle-name" href="#">Confeitaria</a>
        <a class="aisle-name" href="#">Snacks</a>
        <a class="aisle-name" href="#">Padaria</a>
        <a class="aisle-name" href="#">Fiambreria</a>
        <a class="aisle-name" href="#">Laticínios e Resfriados</a>
        <a class="aisle-name" href="#">Carnes</a>
        <a class="aisle-name" href="#">Congelados</a>
        <a class="aisle-name" href="#">Hortifruti</a>
        <a class="aisle-name" href="#">Bebidas sem Álcool</a>
        <a class="aisle-name" href="#">Bebidas Alcoólicas</a>
        <a class="aisle-name" href="#">Produtos de Limpeza</a>
        <a class="aisle-name" href="#">Higiene e Cuidado Pessoal</a>
        <a class="aisle-name" href="#">Cuidados com o Pet</a>
        <a class="aisle-name" href="#">Outros Produtos</a>
    </div>
</div>
<i id="sidebar-reopen-icon" class="fa fa-chevron-right d-none"></i>
<div id="search-bar-strip">
    <div id="search-bar">
        <i id="search-icon" class="fa fa-search"></i>
        <input id="search-bar-input" type="text" placeholder="Pesquisar item...">
        <i id="close-search-icon" class="fa fa-times d-none"></i>
    </div>
    <div id="cart-icon-container">
        <i id="cart-icon" class="fas fa-shopping-cart"></i>
    </div>
</div>
<div id="categories-column">
    <hr class="aisle-flag-line">
    <div id="aisle-flag-temperos-e-condimentos" class="aisle-flag">Temperos e Condimentos</div>
    <div class="categories-grid">
        <div id="category-card-maionese" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/maionese.png' %}">
            </div>
            <div class="category-card-title-container">Maionese</div>
        </div>
        <div id="category-card-mostarda" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/mostarda.png' %}">
            </div>
            <div class="category-card-title-container">Mostarda</div>
        </div>
        <div id="category-card-ketchup" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/ketchup.png' %}">
            </div>
            <div class="category-card-title-container">Ketchup</div>
        </div>
        <div id="category-card-molho-de-pimenta" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/molho-de-pimenta.png' %}">
            </div>
            <div class="category-card-title-container">Molho de Pimenta</div>
        </div>
        <div id="category-card-molhos-para-salada" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/molhos-para-salada.png' %}">
            </div>
            <div class="category-card-title-container">Molhos para Salada</div>
        </div>
        <div id="category-card-ervas-e-especiaris" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/ervas-e-especiarias.png' %}">
            </div>
            <div class="category-card-title-container">Ervas e Especiarias</div>
        </div>
        <div id="category-card-sopas-e-cremes" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/sopas-e-cremes.png' %}">
            </div>
            <div class="category-card-title-container">Sopas e Cremes</div>
        </div>
        <div id="category-card-outros-temperos-e-condimentos" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/outros-temperos-e-condimentos.png' %}">
            </div>
            <div class="category-card-title-container">Outros Temperos e Condimentos</div>
        </div>
    </div>
    <hr class="aisle-flag-line">
    <div id="aisle-flag-oleos-e-vinagres" class="aisle-flag">Óleos e Vinagres</div>
    <div class="categories-grid">
        <div id="category-card-oleo-de-cozinha" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-cozinha.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Cozinha</div>
        </div>
        <div id="category-card-oleo-de-coco" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-coco.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Coco</div>
        </div>
        <div id="category-card-azeites" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/azeites.png' %}">
            </div>
            <div class="category-card-title-container">Azeites</div>
        </div>
        <div id="category-card-vinagres" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/vinagres.png' %}">
            </div>
            <div class="category-card-title-container">Vinagres</div>
        </div>
    </div>
    <hr class="aisle-flag-line">
    <div id="aisle-flag-conservas-e-semiprontos" class="aisle-flag">Conservas e Semiprontos</div>
    <div class="categories-grid">
        <div id="category-card-oleo-de-cozinha" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-cozinha.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Cozinha</div>
        </div>
        <div id="category-card-oleo-de-coco" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-coco.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Coco</div>
        </div>
        <div id="category-card-azeites" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/azeites.png' %}">
            </div>
            <div class="category-card-title-container">Azeites</div>
        </div>
        <div id="category-card-vinagres" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/vinagres.png' %}">
            </div>
            <div class="category-card-title-container">Vinagres</div>
        </div>
    </div>
    <hr class="aisle-flag-line">
    <div id="aisle-flag-cafe-e-cha" class="aisle-flag">Café e Chá</div>
    <div class="categories-grid">
        <div id="category-card-oleo-de-cozinha" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-cozinha.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Cozinha</div>
        </div>
        <div id="category-card-oleo-de-coco" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-coco.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Coco</div>
        </div>
        <div id="category-card-azeites" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/azeites.png' %}">
            </div>
            <div class="category-card-title-container">Azeites</div>
        </div>
        <div id="category-card-vinagres" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/vinagres.png' %}">
            </div>
            <div class="category-card-title-container">Vinagres</div>
        </div>
    </div>
    <hr class="aisle-flag-line">
    <div id="aisle-flag-massas" class="aisle-flag">Massas</div>
    <div class="categories-grid">
        <div id="category-card-oleo-de-cozinha" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-cozinha.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Cozinha</div>
        </div>
        <div id="category-card-oleo-de-coco" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-coco.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Coco</div>
        </div>
        <div id="category-card-azeites" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/azeites.png' %}">
            </div>
            <div class="category-card-title-container">Azeites</div>
        </div>
        <div id="category-card-vinagres" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/vinagres.png' %}">
            </div>
            <div class="category-card-title-container">Vinagres</div>
        </div>
    </div>
    <hr class="aisle-flag-line">
    <div id="aisle-flag-graos-e-cereais" class="aisle-flag">Grãos e Cereais</div>
    <div class="categories-grid">
        <div id="category-card-oleo-de-cozinha" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-cozinha.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Cozinha</div>
        </div>
        <div id="category-card-oleo-de-coco" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/oleo-de-coco.png' %}">
            </div>
            <div class="category-card-title-container">Óleo de Coco</div>
        </div>
        <div id="category-card-azeites" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/azeites.png' %}">
            </div>
            <div class="category-card-title-container">Azeites</div>
        </div>
        <div id="category-card-vinagres" class="category-card">
            <div class="category-card-img-container">
                <img class="category-card-img" src="{% static 'media_dev/categories/vinagres.png' %}">
            </div>
            <div class="category-card-title-container">Vinagres</div>
        </div>
    </div>
</div>
<div id="category-container" class="hidden">
    <div id="category-filters-big-container">
        <div id="category-title-container">Maionese</div>
        <div id="category-filters-small-container">
            <div class="category-filter-container">
                <div class="category-filter-title-container">Tipo</div>
                <div class="category-filter-options-container">
                    <label><input type="checkbox" name="filter-tipo" value="tradicional">Tradicional</label><br>
                    <label><input type="checkbox" name="filter-tipo" value="caseira">Caseira</label><br>
                    <label><input type="checkbox" name="filter-tipo" value="outras">Outras</label><br>
                </div>
            </div>
            <div class="category-filter-container">
                <div class="category-filter-title-container">Embalagem</div>
                <div class="category-filter-options-container">
                    <label><input type="checkbox" name="filter-embalagem" value="tradicional">Pote</label><br>
                    <label><input type="checkbox" name="filter-embalagem" value="caseira">Squeeze</label><br>
                    <label><input type="checkbox" name="filter-embalagem" value="outras">Sachê</label><br>
                </div>
            </div>
        </div>
    </div>
    <div id="category-products-container">
        <div id="product-grid">
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-heinz-215g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Heinz 215g</p>
                <p class="product-price">R$6,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-hellmanns-sache-800g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Hellmann's Sachê 800g</p>
                <p class="product-price">R$12,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-tradicional-liza-sache-400g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Tradicional Liza Sachê 400g</p>
                <p class="product-price">R$3,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-heinz-390g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Heinz 390g</p>
                <p class="product-price">R$11,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-chef-heinz-415g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Chef Heinz 415g</p>
                <p class="product-price">R$19,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-ao-toque-de-mostarda-dijon-maille-320g.png' %}" alt="Product">
                <p class="product-card-title">Maionese ao Toque de Mostarda Dijon Maille 320g</p>
                <p class="product-price">R$29,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-cremosa-7-azeitona-preta-strumpf-210g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Cremosa #7 Azeitona Preta Strumpf 210g</p>
                <p class="product-price">R$23,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-verde-hellmanns-squeeze-335g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Verde Hellmann's Squeeze 335g</p>
                <p class="product-price">R$14,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-heinz-pote-400g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Heinz Pote 400g</p>
                <p class="product-price">R$15,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-supreme-hellmanns-330g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Supreme Hellmann's 330g</p>
                <p class="product-price">R$17,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-hellmanns-500g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Hellmann's 500g</p>
                <p class="product-price">R$9,99</p>
            </div>
            <div class="product-card">
                <img class="product-image" src="{% static 'media_dev/products/maionese-hellmanns-squeeze-335g.png' %}" alt="Product">
                <p class="product-card-title">Maionese Hellmann's Squeeze 335g</p>
                <p class="product-price">R$8,99</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}