:root {
    /* Brand colors */
    --color-brand-red:    #ff5757;
    --color-brand-black:  #000000;
    --color-brand-yellow: #ffd80d;

    /* Grayscale */
    --color-gray-100: #f8f9fa;
    --color-gray-200: #e9ecef;
    --color-gray-300: #dee2e6;
    --color-gray-400: #ced4da;
    --color-gray-500: #adb5bd;
    --color-gray-600: #6c757d;
    --color-gray-700: #495057;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;

    /* Feedback colors */
    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger:  #dc3545;
    --color-info:    #17a2b8;

    /* Typography */
    --font-color: var(--color-gray-900);
    --background-color: var(--color-white);

    /* Default variables */
    --default-padding-left: 30px;
    --default-padding-right: var(--default-padding-left);
    --default-border-radius: 10px;
    --default-margin-right: 20px;
    --default-color-hover: var(--color-gray-600);
    --nav-height: 56px;
    --sidebar-width: 300px;
    --sidebar-minimized-width-proportion: 0.8;
    --sidebar-minimized-left: calc(-1 * var(--sidebar-minimized-width-proportion) * var(--sidebar-width));
    --sidebar-reopen-icon-hidden: 10px;
    --sidebar-reopen-icon-left: calc(var(--sidebar-width) - var(--sidebar-reopen-icon-hidden));
    --search-bar-strip-height: 65px;
    --search-bar-strip-width: calc(100% - var(--sidebar-width));
    --search-bar-strip-vertical-padding: 12px;
    --search-bar-strip-horizontal-padding: 20px;
    --search-bar-strip-maximized-padding-left: 40px;
    --categories-column-top: calc(var(--nav-height) + var(--search-bar-strip-height));
    --categories-column-width: var(--search-bar-strip-width);
    --categories-column-maximized-left: calc(var(--sidebar-width) + var(--sidebar-minimized-left));
    --categories-column-maximized-width: calc(100% - var(--categories-column-maximized-left));
    --categories-column-padding-ver: 30px;
    --category-card-container-width-desktop: 166px;
    --category-card-container-width-mobile: 130px;
    --category-container-margin-top: 25px;
    --category-container-padding-hor-desktop: 25px;
    --category-container-padding-hor-mobile: 15px;
    --category-container-padding-ver: 13px;
    --category-container-top: calc(var(--categories-column-top) + var(--category-container-margin-top));
    --category-container-left-desktop: calc(var(--categories-column-maximized-left) + var(--search-bar-strip-maximized-padding-left));
    --category-container-left-tablet: 8vw;
    --category-container-left-mobile: 5vw;
    --category-container-height: calc(100% - var(--categories-column-top) - 1.5 * var(--category-container-margin-top));
    --category-container-width-desktop: calc(100% - 2 * var(--category-container-left-desktop));
    --category-container-width-tablet: calc(100% - 2 * var(--category-container-left-tablet));
    --category-container-width-mobile: calc(100% - 2 * var(--category-container-left-mobile));
    --category-container-flag-height: calc(var(--category-container-margin-top) - 3px)
}


#main-nav {
    background-color: var(--color-gray-100);
    height: var(--nav-height);
    padding: 0;

    #main-nav-container{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: stretch;
        height: 100%;

        #logo-container-big {
            width: var(--sidebar-width);
            height: 100%;
            background-color: var(--color-brand-red);
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1023px) {
                justify-content: start;
                width: 200px;
                padding-left: var(--default-padding-left);
                background-color: transparent;
            }

            #logo-container-small{
                width: 140px;
                height: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                #brand-logo-anchor{
                    width: 100px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 0;

                    #kaddo-logo-white {
                        display: block;
                    }

                    #kaddo-logo-black {
                        display: none;
                    }

                    @media (max-width: 1023px) {

                        #kaddo-logo-white {
                            display: none;
                        }

                        #kaddo-logo-black {
                            display: block;
                        }
                    }

                    .brand-logo-img {
                        width: 100px;
                        height: auto;
                    }
                }
            }
        }

        #icons-container{
            margin-left: auto;
            margin-right: var(--default-margin-right);
            display: flex;
            align-items: center;
            gap: 15px;

            #my-profile-icon {
                color: black;
            }

            #my-profile-icon:hover {
                color: var(--default-default-color-hover);
            }
        }
    }
}

#sidebar {
    position: fixed;
    top: var(--nav-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--nav-height));
    background-color: var(--color-gray-100);
    padding: 1rem;
    overflow-y: auto;
    padding-left: var(--default-padding-left);
    transition: left 0.3s ease;
    z-index: 9999;

    @media (max-width: 1023px) {
        left: calc(-1 * var(--sidebar-width));
    }

    #aisle-title-container {
        height: var(--search-bar-strip-height);

        #aisles-title {
            margin-top: 10px;
            color: var(--color-gray-500);
        }

        hr {
            border: 1px solid var(--color-gray-300);
            margin-top: 2px;
        }
    }

    .aisle-name {
        color: var(--color-gray-500);
        margin-left: 15px;
        font-weight: 500;
        display: block;
    }

    .aisle-name.selected {
        border-left: 5px solid var(--color-brand-red);
        padding-left: 8px;
    }

    .aisle-name:hover {
        text-decoration: none;
        color: var(--default-color-hover);
    }
}

#sidebar.minimized {
    @media (min-width: 768px) {
        left: var(--sidebar-minimized-left);
    }
    
    @media (max-width: 1023px) {
        left: -1000px;
    }
}

#sidebar-reopen-icon {
    position: fixed;
    top: calc(var(--nav-height) + 50% - 20px);
    left: var(--sidebar-reopen-icon-left);
    width: 22px;
    height: 50px;
    background-color: var(--color-gray-100);
    border-radius: 6px;
    border: 2px solid var(--color-gray-700);
    padding: 8px;
    cursor: pointer;
    font-size: 0.8rem;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3px;
    color: var(--color-gray-700);
    transition: left 0.3s ease;
}

#sidebar-reopen-icon:not(.d-none) {
    @media (min-width: 1024px) {
        left: calc(var(--sidebar-reopen-icon-left) + var(--sidebar-minimized-left));
    }
    
    @media (max-width: 1023px) {
        left: calc(var(--sidebar-reopen-icon-left) + var(--sidebar-minimized-left) - 1000px);
    }
}

#sidebar-reopen-icon:hover {
    font-size: 1rem;
}

#search-bar-strip {
    position: fixed;
    left: var(--sidebar-width);
    top: var(--nav-height);
    width: var(--search-bar-strip-width);
    height: var(--search-bar-strip-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--search-bar-strip-vertical-padding) var(--search-bar-strip-horizontal-padding);
    background-color: var(--color-gray-300);
    z-index: 9999;
    transition: left 0.3s ease, width 0.3s ease;

    @media (max-width: 1023px) {
        left: 0;
        width: 100vw;
        padding-left: var(--search-bar-strip-maximized-padding-left);
    }

    #search-bar {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: var(--color-gray-100);
        width: 400px;
        max-width: calc(100% - 120px);
        min-width: 100px;
        border-radius: var(--default-border-radius);
        padding: 5px calc(var(--default-border-radius));

        #search-icon {
            font-size: 1rem;
            margin-right: var(--default-border-radius);
            color: var(--color-gray-500);
            flex-shrink: 0;
        }

        #search-bar-input {
            flex-grow: 1;
            flex-shrink: 1;
            min-width: 0;
            height: 100%;
            border: 0;
            margin-left: 0;
            color: var(--color-gray-500);
            background-color: transparent;
        }

        #search-bar-input::placeholder {
            color: var(--color-gray-500);
        }

        #search-bar-input:focus {
            outline: none;
        }

        #close-search-icon {
            color: var(--color-gray-500);
            flex-shrink: 0;
            cursor: pointer;
            transition: transform 0.2s ease, color 0.2s ease;
            margin: var(--default-border-radius);
        }

        #close-search-icon:hover {
            color: var(--default-color-hover);
            transform: scale(1.1);
        }
    }

    #cart-icon-container {
        position: fixed;
        top: calc(var(--nav-height) + var(--search-bar-strip-vertical-padding));
        height: calc(var(--search-bar-strip-height) - 2 * var(--search-bar-strip-vertical-padding));
        aspect-ratio: 1 / 1;
        background-color: var(--color-brand-red);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        right: var(--default-padding-right);
        cursor: pointer;

        #cart-icon {
            color: black;
        }
    }

    #cart-icon-container:hover {
        background-color: var(--default-color-hover);
    }
}

#search-bar-strip.maximized {
    padding-left: var(--search-bar-strip-maximized-padding-left);

    @media (min-width: 1024px) {
        left: var(--categories-column-maximized-left);
        width: var(--categories-column-maximized-width);   
    }
    
    @media (max-width: 1023px) {
        left: 0;
        width: 100vw;
    }
}

#categories-column {
    position: relative;
    left: var(--sidebar-width); 
    top: var(--categories-column-top);
    width: var(--categories-column-width);
    min-height: calc(100vh - var(--categories-column-top));
    padding-top: var(--categories-column-padding-ver);
    padding-left: var(--default-padding-right);
    padding-right: var(--default-padding-right);
    background-color: var(--color-gray-200);
    transition: left 0.3s ease, width 0.3s ease;

    #no-results-warning-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: start;

        p {
            font-size: 16px;
            color: var(--color-gray-600);
        }
    }

    @media (max-width: 1023px) {
        left: 0;
        width: 100vw;
    }

    #categories-container-big {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #categories-container-small {
            width: 100%;

            .aisle-flag-line {
                width: 100%;
                border: 2px solid var(--color-gray-400);
                margin: 0 0 0 0;
                box-sizing: border-box;
            }

            .aisle-flag {
                background-color: var(--color-gray-400);
                left: 0;
                width: 30%;
                min-width: 300px;
                height: 24px;
                border-bottom-right-radius: 20px;
                padding: 1px 10px;
                font-size: 12px;
                font-weight: 600;
                color: var(--color-gray-600);
            }

            .categories-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, var(--category-card-container-width-desktop));
                justify-content: start;
                gap: 0;
                margin-top: 10px;
                margin-bottom: var(--categories-column-padding-ver);

                @media (max-width: 767px) {
                    grid-template-columns: repeat(auto-fit, var(--category-card-container-width-mobile));
                }

                .category-card-container {
                    height: 210px;
                    width: var(--category-card-container-width-desktop);
                    padding: 5px 7px;
                    background-color: transparent;

                    @media (max-width: 767px) {
                        width: var(--category-card-container-width-mobile);
                    }

                    .category-card {
                        background-color: var(--color-gray-100);
                        height: 100%;
                        width: 100%;
                        padding: 15px 10px;
                        border-radius: var(--default-border-radius);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        cursor: pointer;

                        .category-card-img-container {
                            height: 70%;

                            .category-card-img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        .category-card-title-container {
                            height: auto;
                            text-align: center;
                            color: var(--color-gray-500);
                            font-weight: 600;
                        }
                    }

                    .category-card:hover {
                        border: 3px solid var(--default-color-hover);
                        padding: 10px 5px;
                        border-radius: var(--default-border-radius);

                        .category-card-title-container {
                            color: var(--color-gray-600);
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

#categories-column.maximized {
    @media (min-width: 768px) {
        left: var(--categories-column-maximized-left);
        width: var(--categories-column-maximized-width);
    }
    
    @media (max-width: 1023px) {
        left: 0;
        width: 100vw;
    }
}

#category-container {
    transition: opacity 0.3s ease;
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: var(--category-container-top);
    left: var(--category-container-left-desktop);
    height: var(--category-container-height);
    width: var(--category-container-width-desktop);
    padding: 5px 2px;
    display: flex;
    background-color: white;
    border: 2px solid var(--color-gray-600);
    border-radius: 5px;
    border-top-left-radius: 0;
    z-index: 9999;
    transition: width 0.3s ease;

    @media (max-width: 1023px) {
        left: var(--category-container-left-tablet);
        width: var(--category-container-width-tablet);
    }

    @media (max-width: 767px) {
        left: var(--category-container-left-mobile);
        width: var(--category-container-width-mobile);
    }

    #category-container-flag {
        position: absolute;
        top: calc(-1 * var(--category-container-flag-height));
        left: -2px;
        width: auto;
        height: var(--category-container-flag-height);
        background: var(--color-gray-100);
        font-size: 12px;
        font-weight: 500;
        color: var(--color-gray-600);
        border: 2px solid var(--color-gray-600);
        border-top-right-radius: 10px;
        padding: 0 12px 0 10px;
    }

    #close-category-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        background: transparent;
        border: none;
        color: var(--color-gray-500);
        font-size: 2rem;
        cursor: pointer;
        line-height: 1px;
        outline: none;
    }

    #close-category-btn:hover {
        color: var(--default-color-hover);
    }

    #category-filters-big-container {
        width: 300px;
        height: 100%;
        background-color: var(--color-gray-100);
        border-right: 1px solid var(--color-gray-600);
        flex-shrink: 0;
        overflow-y: auto;
        padding: var(--category-container-padding-ver) var(--category-container-padding-hor-desktop);
        transition: width 0.3s ease, padding-left 0.3s ease, padding-right 0.3s ease;

        &.minimized {
            width: 0;
            overflow: hidden;
            padding-left: 0;
            padding-right: 0;
            border: 0;
        }

        #category-title-container {
            color: var(--color-gray-600);
            font-weight: 500;
            font-size: 18px;
            padding-bottom: var(--category-container-padding-ver);
            border-bottom: 1px solid var(--color-gray-300);
            width: 100%;
        }

        #category-filters-small-container {
            margin-top: 10px;
            padding: 0;
            width: 100%;

            .category-filter-container {
                margin-top: 20px;

                .category-filter-title-container {
                    font-weight: 500;
                    margin-bottom: 10px;
                    color: var(--color-gray-500);
                }

                .category-filter-options-container {
                    padding: 0 10px;

                    label {
                        margin-bottom: 0.2rem;
                        color: var(--color-gray-500);

                        input {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    #category-products-container {
        flex: 1;
        height: 100%;
        overflow-y: auto;
        padding: var(--category-container-padding-ver) var(--category-container-padding-hor-desktop);

        @media (max-width: 767px) {
            padding: var(--category-container-padding-ver) var(--category-container-padding-hor-mobile);
        }

        #product-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, var(--category-card-container-width-desktop));
            justify-content: center;
            gap: 15px;

            @media (max-width: 767px) {
                grid-template-columns: repeat(auto-fit, var(--category-card-container-width-mobile));
                gap: 10px;
            }

            .product-card {
                padding: 10px;
                text-align: center;

                .product-image {
                    max-width: 100%;
                    border-radius: 8px;
                    margin-bottom: 0.75rem;
                }

                .product-card-title {
                    color: var(--color-gray-500);
                    font-size: 13px;
                    font-weight: 400;
                }

                .product-price {
                    color: var(--color-gray-600);
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }
}

#category-container.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}